body{
    background-color: white;
}

.userTable{
    background-color: white;
}

.userTable th {
    border: 1px solid;
    font-size: 1rem;
}

.userTable td {
    border: 1px solid;
    font-size: 1rem;
    text-align: center;
}

.scrollbar-none::-webkit-scrollbar {
    display: none
}

.carousel {
    transition: transform 0.3s ease-in-out;
}

/* .border-2{
    border: solid 2px rgb(179, 176, 176)
}

.border {
    border: solid 1px rgb(179, 176, 176)
} */

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 30px 6px;
    border: 3px solid;
    border-color: transparent;
    font-size: 20px;
    background-color: inherit;
    border-radius: 12px;
    color: #143D70;
    font-weight: 900;
    box-shadow: 0 0 0 1px #143D70;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: #143D70;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 12px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #ef8121;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 10px transparent;
    color: white;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 12px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: white;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 2px #ef8121;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }



  
.but {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #FFF;
  border: solid 2px #EF8121;
 }
 
 .default-btn,.hover-btn {
  background-color: #FFF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 7px 2px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .3s ease;
  @media (width < 48rem){
    background-color: #EF8121;
    font-size: 12px;
  }
 }
 
 .hover-btn {
  position: absolute;
  inset: 0;
  background-color: #1F2D57;
  transform: translate(0%,100%);
 }
 
 .default-btn span {
  color: #EF8121;
  @media (width < 48rem){
    color: white;
  }
 }
 
 .hover-btn span {
  color: #EF8121;
 }
 
 .but:hover .default-btn {
  transform: translate(0%,-100%);
 }
 
 .but:hover .hover-btn {
  transform: translate(0%,0%);
 }
  